<!DOCTYPE html>
<html>
<head>
    <title>Add Student Marks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">Add Student Marks</div>

<div class="container">
    <div class="card">

        <h3>Enter Marks</h3>

        <form method="POST">

            <label>Student ID</label>
            <input type="number" name="sid" required>

            <label>Subject</label>
            <input type="text" name="sub" required>

            <label>Marks</label>
            <input type="number" name="marks" required>

            <br><br>
            <button type="submit">Add Marks</button>

        </form>

    </div>
</div>

</body>
</html>